.Option-button {
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 0 4px;
}

.Option-button > button {
  background-color: #628A96;
  box-shadow: 0 5px 8px #5E5B5B;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 10px;
  transition: background-color 1s;
}

.Option-button > button:active {
  box-shadow: 0 1px 2px black;
}

button.on-on {
  background-color: #A4F425;
}

button.strict-on {
  background-color: #C41F0D;
}

button.start-on {
  background-color: greenyellow;
}

.Option-button > button:focus {
  outline: none;
}

.Option-button > h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}


