.Option-button {
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 0 4px;
}

.Option-button > button {
  background-color: gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 10px;
  transition: background-color 1s;
}

button.on-on {
  background-color: #A4F425;
}

button.strict-on {
  background-color: #CD3333;
}

button.start-on {
  background-color: greenyellow;
}

.Option-button > button:focus {
  outline: none;
}

.Option-button > h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}


