.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: #4A4646 3px solid;
}

.button:focus {
  outline: none;
}

.greenBtn {
  background-color: #00A74A;
}

.greenBtn-on {
  background-color: #02F96D;
}

.redBtn {
  background-color: #9F0F17;
}

.redBtn-on {
  background-color: #CE1919;
}

.blueBtn {
  background-color: #131360;
}

.blueBtn {
  background-color: #2727B5;
}

.yellowBtn {
  background-color: #A4A405;
}

.yellowBtn-on {
  background-color: #E8E806;
}