.Count-window {
  background-color: #241D1D;
  color: greenyellow;
  font-size: 1.4rem;
  border-radius: 5px;
  width: 30%;
  height: 40px;
  margin: 4px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.Count-window > span.on {
  opacity: 1;
  transition: all 2s;
}

.Count-window > span.off {
  opacity: 0;
  transition: all 2s;  
}

.Count > h3 {
  text-align: center;
  font-size: 1.2rem;
}