.Game-board {
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 100px;
  position: relative;
}

.greenBtn {
  position: absolute;
  top: 10%;
  left: 10%;
}

.redBtn {
  position: absolute;
  top: 10%;
  right: 10%;
}

.blueBtn {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.yellowBtn {
  position: absolute;
  bottom: 10%;
  right: 10%;
}