.Game-board {
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 100px;
  position: relative;
  box-shadow: -15px 15px 20px #878585;
}

.greenBtn {
  position: absolute;
  top: 10%;
  left: 10%;
}

.redBtn {
  position: absolute;
  top: 10%;
  right: 10%;
}

.blueBtn {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.yellowBtn {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

/* Make the board shake when class .shake is assigned */
.Game-board.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}