.Options {
  background-color: #F3EAEA;
  width: 180px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90px, -50px);
}

.Button-container {
  text-align: center;
}